/* 構文 */

/* 
セレクタ {
    プロパティ: 値;
} */

p {
    background-color: pink;
}
/* ドットを忘れない */
.title {
    /* solid dottedとかある */
    border: 1px solid black;

    margin-top: 100px;
    padding-top: 100px;
    /* margin-bottomが指定していないのに、勝手にある理由 */
}
#sub {
    color: grey;
}

/* 要素の構造、padding, border, margin */
/* まず、mdの中の図を見せる */
/* ここで developer toolを開く */